@import "global";
.home {
  &__logo{
    @include widthHeight(100%, 80%);
    margin: 15% 0;
    text-align: center;
    &__img {
      @include widthHeight(50%, 80%);
      @include borderRadius(100%);
      padding: 5%;
      border: solid $darkerGrey 2pt;
    }
  }
  &__links {
    text-align: center;
    &__button {
      padding: 2.5% 2%;
    }
    &__overview {
      display: block;
      text-decoration: none;
      color: $darkerGrey;
      &:hover {
        color: $orange;
      }
    }
  }
}