@import "global";
.overview {
  text-align: left;
  margin: 0 auto;
  @include widthHeight(80%, 100%);
  &__title {
    text-align: center;
  }
  &__form {
    &__input, &__date {
      margin: 6% 0;
      &__value {
        background-color: $darkGrey;
        border: none;
        color: $white;
        padding: 2% 0;
        margin-top: 1%;
      }
      &__value {
        @include widthHeight(100%, 10%);
      }
    }
  }
  &__links {
    margin-top: 25%;
    @include widthHeight(100%, 25%);
    &__back {
      float: left;
    }
    &__forward {
      float: right;
    }
  }
}